# Node modules (if applicable)
node_modules/


# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
cache/
.vite/
.next/
*.tsbuildinfo

# Docker
Dockerfile.*
docker-compose.override.yml
docker-compose.dev.yml
.docker/
*.tar
*.pid

# Docker volumes / temp data
tmp/
*.sock

# CDN-specific temp or generated content
cdn-temp/
cdn-upload/

# IDEs and editors
.vscode/
.idea/
coverage/
